body {
  background-color: rgb(51, 51, 51);
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: rgb(31, 31, 31);
  align-items: center;
}

header ul {
  display: flex;
}

header li {
  margin-left: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

header nav a {
  text-decoration: none;
  color: rgb(235, 172, 79);
  padding: 8px 16px;
  border-radius: 8px;
}

header nav a:hover {
  background-color: rgb(124, 101, 66);
}

#logo a {
  text-decoration: none;
  color: rgb(235, 172, 79);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

main h1 {
  text-align: center;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: rgb(235, 172, 79);
  margin-bottom: 100px;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

main ul {
  display: flex;
  justify-content: center;
}

main li {
  width: 450px;
  margin: 0 20px;
  list-style: none;
  background-color: rgb(233, 194, 149);
  font-family: "Open Sans", sans-serif;
  border-radius: 12px;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;
}

main li a {
  text-decoration: none;
  background-color: rgb(230, 131, 18);
  color:white;
  padding: 6px 30px;
  border-radius: 5px;
}

main li a:hover {
  background-color: rgb(211, 130, 72);
}
